<ion-header>
  <ion-toolbar>

    @if (showConfigButton) {
      <ion-buttons slot="end">
        <ion-button class="large-clickable-area" (click)="openSettings()">
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    @if (showCloseButton) {
      <ion-buttons slot="end">
        <ion-button class="large-clickable-area" (click)="close()">
          <ion-icon name="close-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    @if (showRefreshButton) {
      <ion-buttons slot="end">
        <ion-button 
          class="large-clickable-area refresh-button" 
          [class.disabled]="!refreshEnabled"
          [disabled]="!refreshEnabled"
          (click)="refreshRandom()">
          <div class="refresh-button-content">
            <ion-icon 
              [name]="refreshEnabled ? 'refresh-outline' : 'time-outline'" 
              size="large">
            </ion-icon>
            @if (!refreshEnabled && refreshCooldownTime) {
              <div class="cooldown-overlay">
                <span class="cooldown-time">{{ refreshCooldownTime }}</span>
                <div class="cooldown-progress" [style.width.%]="refreshCooldownProgress"></div>
              </div>
            }
          </div>
        </ion-button>
      </ion-buttons>
    }
    
    <ion-title>{{title}}</ion-title>
    
  </ion-toolbar>
</ion-header>