<ion-header>
  <ion-toolbar>

    @if (showConfigButton) {
      <ion-buttons slot="end">
        <ion-button class="large-clickable-area" (click)="openSettings()">
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    @if (showCloseButton) {
      <ion-buttons slot="end">
        <ion-button class="large-clickable-area" (click)="close()">
          <ion-icon name="close-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
    
    <ion-title>{{title}}</ion-title>
    
  </ion-toolbar>
</ion-header>